@model IEnumerable<MOOCollab.Domain.Achievment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            DateAwarded
        </th>
        <th>
            AwardType
        </th>
        <th>
            Student
        </th>
        <th>
            Course
        </th>
        <th>
            Description
        </th>
        <th>
            Comments
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@String.Format("{0:g}", item.DateAwarded)
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.AwardType).ToString()
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Student).ToString()
        </td>
        <td>
			@(item.Course == null ? "None" : item.Course.Title)
        </td>
        <td>
			@item.Description
        </td>
        <td>
			@item.Comments
        </td>
    </tr>
}

</table>


