@model MOOCollab.WebUI.DTOs.AchievmentSummary

<fieldset>
    <legend>AchievmentSummary</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateAwarded)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateAwarded)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Course)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Course)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comments)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comments)
    </div>
</fieldset>
